<app-my-profile></app-my-profile>
<p>
  profile works !
</p>
<div class="UMT-userProfile-wrap">
	<div class="UMT-usrProfile" *ngFor="let item of items">
      <p class="UMT-header">My Profile</p>
      <div class="UMT-lft-sec">
          <div class="UMT-profile-pic">
              <img [src]="'../../assets/img/profile-pic.png'" alt="Profile image" />
          </div>
          <p>{{item.fname}} {{item.lname}}</p>
          <span>{{item.designation}} - {{item.team}}</span>
          <label>{{item.emp_id}}</label>
        </div>
        <div class="UMT-rgt-sec">
            <div class="UMT-about-details">
                <h4>About</h4>
                <p>Front-end web development is the practice of producing HTML, CSS and JavaScript for a website or Web Application so that a user can see and interact with them directly. The challenge associated with front-end development is that the tools and techniques used to create the front end of a website change constantly and so the developer needs to constantly be aware of how the field is developing.</p>
              </div>
              <div class="UMT-official-info">
                  <h4>Official Information</h4>
                  <div class="UMT-official-list">
                    <div class="UMT-formfield UMT-lbl-bg UMT-doj"><label>Date of Joining</label><span class="form-control">{{item.doj}}</span></div>
                    <div class="UMT-formfield UMT-lbl-bg UMT-email"><label>Email</label><span class="form-control">{{item.email_id}}</span></div>
                    <div class="UMT-formfield UMT-lbl-bg UMT-dept"><label>Dept</label><span class="form-control">{{item.dept}}</span></div>
                    <div class="UMT-formfield UMT-lbl-bg UMT-divi"><label>Division</label><span class="form-control">{{item.division}}</span></div>
                  </div>
                </div>
                <div class="UMT-personal-info">			
                  <h4>Personal Information</h4>
                  <div class="UMT-personal-list">
                    <div class="UMT-formfield UMT-lbl-bg UMT-gndr"><label>Gender</label><span class="form-control">{{item.gender}}</span></div>
                    <div class="UMT-formfield UMT-lbl-bg UMT-dob"><label>DOB</label><span class="form-control">{{item.dob}}</span></div>
                    <div class="UMT-formfield UMT-lbl-bg UMT-contNo"><label>Contact No.</label><span class="form-control">{{item.contact_no}}</span></div>
                    <div class="UMT-formfield UMT-lbl-bg UMT-emgNo"><label>Emg. Contact No.</label><span class="form-control">{{item.emergency_contact_no}}</span></div>
                  </div>
      </div>
        </div>
  </div>
</div>
<!--
<div class="UMT-usrProfile" *ngFor="let item of items">
  <div class="UMT-formfield"><label>Emp. Id</label><span class="form-control">{{item.emp_id}}</span></div>
  <div class="UMT-formfield"><label>Firstname</label><span class="form-control">{{item.fname}}</span></div>
  <div class="UMT-formfield"><label>Lastname</label><span class="form-control">{{item.lname}}</span></div>
  <div class="UMT-formfield"><label>Gender</label><span class="form-control">{{item.gender}}</span></div>
  <div class="UMT-formfield"><label>DOB</label><span class="form-control">{{item.dob}}</span></div>
  <div class="UMT-formfield"><label>DOJ</label><span class="form-control">{{item.dob}}</span></div>
  <div class="UMT-formfield"><label>Email</label><span class="form-control">{{item.email_id}}</span></div>
  <div class="UMT-formfield"><label>Designation</label><span class="form-control">{{item.designation}}</span></div>
  <div class="UMT-formfield"><label>Team</label><span class="form-control">{{item.team}}</span></div>
  <div class="UMT-formfield"><label>Dept</label><span class="form-control">{{item.dept}}</span></div>
  <div class="UMT-formfield"><label>Division</label><span class="form-control">{{item.division}}</span></div>
  <div class="UMT-formfield"><label>Contact No.</label><span class="form-control">{{item.contact_no}}</span></div>
  <div class="UMT-formfield"><label>Emg. Contact No.</label><span class="form-control">{{item.emergency_contact_no}}</span></div>
  <div class="UMT-formfield"><label>Role</label><span class="form-control">{{item.role}}</span></div>
  <div class="UMT-formfield"><label>Profile Pic</label><span class="form-control">{{item.profile_pic}}</span></div>  
  <div class="UMT-formfield"><label>Shift Type</label><span class="form-control">{{item.shift_type}}</span></div>
</div>-->