@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('fonts/OpenSans.woff') format('woff'), url('fonts/OpenSans.ttf')  format('truetype'), url('fonts/OpenSans.svg#OpenSans') format('svg'); font-weight: normal; font-style: normal; }

* { box-sizing: border-box; }
body { background:#eee; }
.UMT-userProfile-wrap { text-align: center; background:#eee; padding: 35px 0; } 
.UMT-userProfile-wrap p { margin:0; }
.UMT-usrProfile { max-width:100%; margin:40px 20px 0; text-align:center; font-family: OpenSans, Helvetica, sans-serif; background:#fff; position: relative; padding: 40px 20px 20px; border: 1px solid #eee; box-shadow: 0 4px 10px 0 #eee; border-radius: 4px; }
.UMT-header { font-size: 14px; font-weight: normal; font-family: OpenSans, Helvetica, sans-serif; background:#0ba224; padding: 20px; color:#fff; border-radius: 4px; position: absolute; left: 20px; right: 20px; top: -30px; margin:0; text-align: left; box-shadow: 0 2px 3px rgba(0,0,0,0.2); }
.UMT-formfield { margin: 0 0 10px; font-size: 14px; }
.UMT-formfield *  { vertical-align: middle; }
.UMT-formfield label { width:120px; display: inline-block; text-align: left; color:#666; margin:0; }
.UMT-formfield span { display:inline-block; width:195px; height:30px; background:#fff; padding:2px 5px; line-height: 26px; color:#555; text-align: left; }

.form-control { border:none; }
.UMT-lft-sec { width: 27%; display: inline-block; vertical-align: top; }
.UMT-profile-pic { margin: 60px 0 40px; }
.UMT-lft-sec p { font-weight: bold; }
.UMT-lft-sec span { display: inline-block; width:100%; font-size:14px; color:#999; margin: 8px 0 30px; } 
.UMT-lft-sec label { display: inline-block; padding: 12px 30px; color: #0ba224; background: #fff; box-shadow: 0 0px 3px 0 rgba(11,162,36,0.8); font-weight: bold; font-size: 18px; border: 1px solid rgba(11,162,36,0.4); }
.UMT-rgt-sec { width: 72%; display: inline-block; vertical-align: top; border-left: 1px solid #e4e4e4; text-align: left; padding: 15px 0; }
.UMT-rgt-sec h4 { color: #555; font-size: 16px; margin: 30px 0 15px; }
.UMT-about-details { padding: 0 50px; }
.UMT-about-details p { font-size: 14px; color:#636363; } 
.UMT-official-info, .UMT-personal-info { padding: 0 50px; border-top: 1px solid #e4e4e4; margin: 40px 0 0; }
.UMT-official-list, .UMT-personal-list { column-count: 2; }
.UMT-lbl-bg { background:url(img/iconsprite.png) no-repeat left top; padding-left: 40px; }
.UMT-doj { background-position: 5px 6px; }
.UMT-email { background-position: 5px -30px; }
.UMT-dept { background-position: 5px -73px; }
.UMT-divi { background-position: 5px -118px; }
.UMT-gndr { background-position: 5px -161px; }
.UMT-dob { background-position: 0 -201px; }
.UMT-contNo { background-position: 5px -242px; }
.UMT-emgNo { background-position: 5px -281px; }
